@using LMS20.Core
@using LMS20.Core.Types
@model ModulesPartialViewModel


@{
    int i = 0;
}
@{
   

    //switch(Model.Module)
    //{
    //    case Status.Comming:
    //        calloutLevel = "info";
    //        participantsLevel = "info";
    //        hasProgressbar = false;
    //        break;

    //    case Status.Current:
    //        calloutLevel = "success";
    //        participantsLevel = "info";
    //        hasProgressbar = true;
    //        break;

    //    case Status.Completed:
    //        calloutLevel = "default";
    //        participantsLevel = "secondary";
    //        hasProgressbar = false;
    //        break;
    //}
}

@*<a asp-controller="Courses" asp-action="Modules" asp-route-id="@Model.Id">*@

@{
   
}
<button id="pil" type="button" class="accordion-button  accordion-toggle dash-titel boxed accordion-main type-files col-12  @(Model.ModuleStatus==Status.Comming?"info":"")@(Model.ModuleStatus==Status.Current?"success":"")@(Model.ModuleStatus==Status.Completed?"completed":"")" data-bs-toggle="collapse" data-bs-target=#@Model.ModuleStatus>
    <span id="pilen"><i class=""></i></span>@Model.CourseName
</button>
<div class="boxed acc-body accordion-collapse  collapse " id=@Model.ModuleStatus>
    <p class=" air">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
@*<div id = "callout" class="bd-callout bd-callout-@calloutLevel">

    <div class="row">
    <div class="col-10">
        <span class="course-title"><a asp-controller="Courses" asp-action="Modules" asp-route-id="@Model.Id">@Model.Name</a></span>
    </div>
    <div class="col-2 text-end" >
        <a id = "participantsBtn" asp-controller = "Courses" asp-action = "Participants" asp-route-id = "@Model.Id">
            <span class="badge rounded-pill bg-@participantsLevel">@Model.NrOfParticipants</span></a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        @*<a id = "deleteBtn" asp-controller = "Courses" asp-action = "Delete" asp-route-id = "@Model.Id">
        <a data-id="@Model.Id" data-name="@Model.Name" class="deleteBtn" asp-action="ConfirmDeletePartial" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
            <span class="badge rounded-pill bg-danger">X</span></a>
    </div>
    </div>


*@
@*</a>*@
